<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:replace="~{fragments/layout :: layout('Banks', ~{::main})}">
    <main>
        <section class="panel">
            <form method="post" th:action="@{/banks}" th:object="${bank}" class="form-row">
                <input type="hidden" th:field="*{createdBy}">
                <input type="hidden" th:field="*{updatedBy}">
                <div><label>Name</label><input th:field="*{name}" required></div>
                <div><label>Prefix</label><input th:field="*{prefix}"></div>
                <button class="button" type="submit">Add Bank</button>
            </form>
        </section>
        <section class="panel">
            <table>
                <thead><tr><th>ID</th><th>Name</th><th>Prefix</th><th>Action</th></tr></thead>
                <tbody>
                <tr th:each="item : ${banks}">
                    <td th:text="${item.id}">1</td>
                    <td th:text="${item.name}">Name</td>
                    <td th:text="${item.prefix}">Prefix</td>
                    <td><form method="post" th:action="@{/banks/{id}/delete(id=${item.id})}"><button class="button danger" type="submit">Delete</button></form></td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
</section>
</body>
</html>
